    body {
        font-size: 20px;
        color: #212529;
        font-family: 'Lora', 'Times New Roman', serif;
    }
    
    p {
        line-height: 1.5;
        margin: 30px 0;
    }
    
    p a {
        text-decoration: underline;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 800;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    a {
        color: #212529;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
    }
    
    a:focus,
    a:hover {
        color: #0085A1;
    }
    
    blockquote {
        font-style: italic;
        color: #868e96;
    }
    
    .section-heading {
        font-size: 36px;
        font-weight: 700;
        margin-top: 60px;
    }
    
    .caption {
        font-size: 14px;
        font-style: italic;
        display: block;
        margin: 0;
        padding: 10px;
        text-align: center;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
     ::-moz-selection {
        color: #fff;
        background: #0085A1;
        text-shadow: none;
    }
    
     ::selection {
        color: #fff;
        background: #0085A1;
        text-shadow: none;
    }
    
    img::selection {
        color: #fff;
        background: transparent;
    }
    
    img::-moz-selection {
        color: #fff;
        background: transparent;
    }
    
    #mainNav {
        position: absolute;
        border-bottom: 1px solid #e9ecef;
        background-color: white;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    #mainNav .navbar-brand {
        font-weight: 800;
        color: #343a40;
    }
    
    #mainNav .navbar-toggler {
        font-size: 12px;
        font-weight: 800;
        padding: 13px;
        text-transform: uppercase;
        color: #343a40;
    }
    
    #mainNav .navbar-nav>li.nav-item>a {
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    @media only screen and (min-width: 992px) {
        #mainNav {
            border-bottom: 1px solid transparent;
            background: transparent;
        }
        #mainNav .navbar-brand {
            padding: 10px 20px;
            color: #fff;
        }
        #mainNav .navbar-brand:focus,
        #mainNav .navbar-brand:hover {
            color: rgba(255, 255, 255, 0.8);
        }
        #mainNav .navbar-nav>li.nav-item>a {
            padding: 10px 20px;
            color: #fff;
        }
        #mainNav .navbar-nav>li.nav-item>a:focus,
        #mainNav .navbar-nav>li.nav-item>a:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
    
    @media only screen and (min-width: 992px) {
        #mainNav {
            -webkit-transition: background-color 0.2s;
            -moz-transition: background-color 0.2s;
            transition: background-color 0.2s;
            /* Force Hardware Acceleration in WebKit */
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-backface-visibility: hidden;
        }
        #mainNav.is-fixed {
            /* when the user scrolls down, we hide the header right above the viewport */
            position: fixed;
            top: -67px;
            -webkit-transition: -webkit-transform 0.2s;
            -moz-transition: -moz-transform 0.2s;
            transition: transform 0.2s;
            border-bottom: 1px solid white;
            background-color: rgba(255, 255, 255, 0.9);
        }
        #mainNav.is-fixed .navbar-brand {
            color: #212529;
        }
        #mainNav.is-fixed .navbar-brand:focus,
        #mainNav.is-fixed .navbar-brand:hover {
            color: #0085A1;
        }
        #mainNav.is-fixed .navbar-nav>li.nav-item>a {
            color: #212529;
        }
        #mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,
        #mainNav.is-fixed .navbar-nav>li.nav-item>a:hover {
            color: #0085A1;
        }
        #mainNav.is-visible {
            /* if the user changes the scrolling direction, we show the header */
            -webkit-transform: translate3d(0, 100%, 0);
            -moz-transform: translate3d(0, 100%, 0);
            -ms-transform: translate3d(0, 100%, 0);
            -o-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
    }
    
    header.masthead {
        margin-bottom: 50px;
        background: no-repeat center center;
        background-color: #868e96;
        background-attachment: scroll;
        position: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    header.masthead .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #212529;
        opacity: 0.5;
    }
    
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
        padding: 200px 0 150px;
        color: white;
    }
    
    @media only screen and (min-width: 768px) {
        header.masthead .page-heading,
        header.masthead .post-heading,
        header.masthead .site-heading {
            padding: 200px 0;
        }
    }
    
    header.masthead .page-heading,
    header.masthead .site-heading {
        text-align: center;
    }
    
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
        font-size: 50px;
        margin-top: 0;
    }
    
    header.masthead .page-heading .subheading,
    header.masthead .site-heading .subheading {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.1;
        display: block;
        margin: 10px 0 0;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    @media only screen and (min-width: 768px) {
        header.masthead .page-heading h1,
        header.masthead .site-heading h1 {
            font-size: 80px;
        }
    }
    
    header.masthead .post-heading h1 {
        font-size: 35px;
    }
    
    header.masthead .post-heading .meta,
    header.masthead .post-heading .subheading {
        line-height: 1.1;
        display: block;
    }
    
    header.masthead .post-heading .subheading {
        font-size: 24px;
        font-weight: 600;
        margin: 10px 0 30px;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    header.masthead .post-heading .meta {
        font-size: 20px;
        font-weight: 300;
        font-style: italic;
        font-family: 'Lora', 'Times New Roman', serif;
    }
    
    header.masthead .post-heading .meta a {
        color: #fff;
    }
    
    @media only screen and (min-width: 768px) {
        header.masthead .post-heading h1 {
            font-size: 55px;
        }
        header.masthead .post-heading .subheading {
            font-size: 30px;
        }
    }
    
    .post-preview>a {
        color: #212529;
    }
    
    .post-preview>a:focus,
    .post-preview>a:hover {
        text-decoration: none;
        color: #0085A1;
    }
    
    .post-preview>a>.post-title {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    .post-preview>a>.post-subtitle {
        font-weight: 300;
        margin: 0 0 10px;
    }
    
    .post-preview>.post-meta {
        font-size: 18px;
        font-style: italic;
        margin-top: 0;
        color: #868e96;
    }
    
    .post-preview>.post-meta>a {
        text-decoration: none;
        color: #212529;
    }
    
    .post-preview>.post-meta>a:focus,
    .post-preview>.post-meta>a:hover {
        text-decoration: underline;
        color: #0085A1;
    }
    
    @media only screen and (min-width: 768px) {
        .post-preview>a>.post-title {
            font-size: 36px;
        }
    }
    
    .floating-label-form-group {
        font-size: 14px;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #dee2e6;
    }
    
    .floating-label-form-group input,
    .floating-label-form-group textarea {
        font-size: 1.5em;
        position: relative;
        z-index: 1;
        padding: 0;
        resize: none;
        border: none;
        border-radius: 0;
        background: none;
        box-shadow: none !important;
        font-family: 'Lora', 'Times New Roman', serif;
    }
    
    .floating-label-form-group input::-webkit-input-placeholder,
    .floating-label-form-group textarea::-webkit-input-placeholder {
        color: #868e96;
        font-family: 'Lora', 'Times New Roman', serif;
    }
    
    .floating-label-form-group label {
        font-size: 0.85em;
        line-height: 1.764705882em;
        position: relative;
        z-index: 0;
        top: 2em;
        display: block;
        margin: 0;
        -webkit-transition: top 0.3s ease, opacity 0.3s ease;
        -moz-transition: top 0.3s ease, opacity 0.3s ease;
        -ms-transition: top 0.3s ease, opacity 0.3s ease;
        transition: top 0.3s ease, opacity 0.3s ease;
        vertical-align: middle;
        vertical-align: baseline;
        opacity: 0;
    }
    
    .floating-label-form-group .help-block {
        margin: 15px 0;
    }
    
    .floating-label-form-group-with-value label {
        top: 0;
        opacity: 1;
    }
    
    .floating-label-form-group-with-focus label {
        color: #0085A1;
    }
    
    form .form-group:first-child .floating-label-form-group {
        border-top: 1px solid #dee2e6;
    }
    
    footer {
        padding: 50px 0 65px;
    }
    
    footer .list-inline {
        margin: 0;
        padding: 0;
    }
    
    footer .copyright {
        font-size: 14px;
        margin-bottom: 0;
        text-align: center;
    }
    
    .btn {
        font-size: 14px;
        font-weight: 800;
        padding: 15px 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 0;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    
    .btn-primary {
        background-color: #0085A1;
        border-color: #0085A1;
    }
    
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        color: #fff;
        background-color: #00657b !important;
        border-color: #00657b !important;
    }
    
    .btn-lg {
        font-size: 16px;
        padding: 25px 35px;
    }
    
    body .container .half {
        float: left;
        width: 50%;
        height: 100%;
        padding: 58px 40px 0;
    }
    
    body .container .half.bg {
        background-image: url("https://s7.postimg.org/boj7tcxhn/image.jpg");
        background-size: 400px;
        background-repeat: no-repeat;
    }
    
    body .container h1 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 23px;
        text-align: center;
        text-indent: 6px;
        letter-spacing: 7px;
        text-transform: uppercase;
        color: #263238;
    }
    
    body .container .tabs {
        width: 100%;
        margin-bottom: 29px;
        border-bottom: 1px solid #d9d9d9;
    }
    
    body .container .tabs .tab {
        display: inline-block;
        margin-bottom: -1px;
        padding: 20px 15px 10px;
        cursor: pointer;
        letter-spacing: 0;
        border-bottom: 1px solid #d9d9d9;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: all 0.1s ease-in-out;
    }
    
    body .container .tabs .tab a {
        font-size: 11px;
        text-decoration: none;
        text-transform: uppercase;
        color: #d9d9d9;
        transition: all 0.1s ease-in-out;
    }
    
    body .container .tabs .tab.active a,
    body .container .tabs .tab:hover a {
        color: #263238;
    }
    
    body .container .tabs .tab.active {
        border-bottom: 1px solid #263238;
    }
    
    body .container .content form {
        position: relative;
        height: 287px;
    }
    
    body .container .content label:first-of-type,
    body .container .content input:first-of-type,
    body .container .content .more:first-of-type {
        -moz-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
        -webkit-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
        animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
    }
    
    body .container .content label:nth-of-type(2),
    body .container .content input:nth-of-type(2),
    body .container .content .more:nth-of-type(2) {
        -moz-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
        -webkit-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
        animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
    }
    
    body .container .content label:nth-of-type(3),
    body .container .content input:nth-of-type(3),
    body .container .content .more:nth-of-type(3) {
        -moz-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
        -webkit-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
        animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
    }
    
    body .container .content label {
        font-size: 12px;
        color: #263238;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    
    body .container .content label:not([for='remember']) {
        display: none;
    }
    
    body .container .content input.inpt {
        font-size: 14px;
        display: block;
        width: 100%;
        height: 42px;
        margin-bottom: 12px;
        padding: 16px 13px;
        color: #999999;
        border: 1px solid #d9d9d9;
        background: transparent;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }
    
    body .container .content input.inpt::-webkit-input-placeholder {
        font-size: 14px;
        color: #999999;
        font-family: 'Lato', sans-serif;
    }
    
    body .container .content input.inpt:-moz-placeholder {
        font-size: 14px;
        color: #999999;
        font-family: 'Lato', sans-serif;
    }
    
    body .container .content input.inpt::-moz-placeholder {
        font-size: 14px;
        color: #999999;
        font-family: 'Lato', sans-serif;
    }
    
    body .container .content input.inpt:-ms-input-placeholder {
        font-size: 14px;
        color: #999999;
        font-family: 'Lato', sans-serif;
    }
    
    body .container .content input.inpt:focus {
        border-color: #999999;
    }
    
    body .container .content input.submit {
        font-size: 12px;
        line-height: 42px;
        display: block;
        width: 100%;
        height: 42px;
        cursor: pointer;
        vertical-align: middle;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #263238;
        border: 1px solid #263238;
        background: transparent;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }
    
    body .container .content input.submit:hover {
        background-color: #263238;
        color: #ffffff;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
    
    body .container .content input:focus {
        outline: none;
    }
    
    body .container .content .checkbox {
        margin-top: 4px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 0;
        height: 0;
        margin: 17px -1px;
        padding: 0;
        border: 0;
        opacity: 0;
        visibility: hidden;
    }
    
    body .container .content .checkbox+label {
        vertical-align: middle;
        display: inline-block;
        width: 50%;
    }
    
    body .container .content .checkbox+label:before {
        content: "\A";
        color: #999999;
        font-family: Verdana;
        font-weight: bold;
        font-size: 8px;
        line-height: 10px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: transparent;
        border: 1px solid #d9d9d9;
        width: 11px;
        height: 11px;
        margin: -2px 8px 0 0;
    }
    
    body .container .content .checkbox:checked+label:before {
        content: "✓";
    }
    
    body .container .content .submit-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    body .container .content .submit-wrap a {
        font-size: 12px;
        display: block;
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        color: #999999;
    }
    
    body .container .content .submit-wrap a:hover {
        text-decoration: underline;
    }
    
    body .container .content .signup-cont {
        display: none;
    }
    
    @keyframes slideIn {
        0% {
            filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
            opacity: 0;
            margin-left: -320px;
        }
        100% {
            filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
            opacity: 1;
            margin-left: 0px;
        }
    }
    
    @-webkit-keyframes slideIn {
        0% {
            filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
            opacity: 0;
            margin-left: -320px;
        }
        100% {
            filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
            opacity: 1;
            margin-left: 0px;
        }
    }
    
    .credits {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        color: #999999;
        font-size: 14px;
        margin: 0 10px 10px 0;
    }
    
    .credits a {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: 0.8;
        color: inherit;
        font-weight: 700;
        text-decoration: none;
    }
    
    .box-s {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
        -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
        box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
    }